{% load static %}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <title>Sanal Ajanda</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/sourcesanspro-font.css' %}">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>

</head>
<body class="form-v8">
<div  class="page-content">
<div class="form-v8-content">
<div class="form-left" a="500px">
<h1>Not Ekle</h1>
<form id="not-ekle-form" method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">Not Ekle</button>

</form>
<br><br><br>

{% if secilen_tarih is not None %}
<form method="post" action="{% url 'notlari_gonder' %}">
    {% csrf_token %}
    <input name="secilen_tarih" value="{{ secilen_tarih }}">
    <button type="submit">Seçili Tarihteki Notları Mail ile Gönder</button>
</form>
{% endif %}
<br></div>
<div class="form-right">
<h2>Notlar</h2>
<form id="tarih-form" method="get">

    <label for="secilen_tarih">Tarih Seç:</label>
    <input type="date" id="secilen_tarih" name="secilen_tarih">
    <button type="submit" style="display: none;">Tarihe Göre Notları Göster</button>
</form>
<br>
<div id="secilen_tarih">
    <h3>
        {% if secilen_tarih %}
            Seçilen Tarih: {{ secilen_tarih }}
        {% endif %}
    </h3>
</div>

{% if tasks %}

    <ul>
        {% for task in tasks %}
            <li><h3>{{ task.not_metni }}</h3></li>
        {% endfor %}
    </ul>
{% else %}
    <h3>Seçili tarihe ait not bulunamadı.</h3>
{% endif %}
</div>
</div>
</div>

{% include 'includes/footer.html' %}

<script>
    // JavaScript fonksiyonunu oluştur
    function tarihDegisti() {
        document.getElementById('tarih-form').submit(); // Formu otomatik olarak gönder
    }
</script>

<!-- Tarih alanını değişiklikleri algılamak için onchange özelliğini ekle -->
<script>
    document.getElementById('secilen_tarih').addEventListener('change', tarihDegisti);
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const dateInput = document.getElementById("tarih-form");

        dateInput.addEventListener("change", function () {
            const secilen_tarih = dateInput.value;
            const tarihDiv = document.getElementById("secilen_tarih");
            tarihDiv.innerText = `Seçilen Tarih: ${secilen_tarih}`;
        });
    });
</script>
</body>
</html>
