{% load static %}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <title>Sanal Ajanda</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/sourcesanspro-font.css' %}">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "fonts/icomoon/style.css" %}">
    <link rel="stylesheet" href="{% static "css/rome.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <style>

        input[type="text"] {

            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 15px;
            box-sizing: border-box;
            width: 100%;
        }

        #selected_date_input {
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 15px;
            box-sizing: border-box;
            width: 100px;
        }
    </style>

    <link rel="manifest" href="{% static "manifest.json" %}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="sanalajanda.com">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="{% static "pwa/img/iphone5_splash.png" %}"
          media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image"/>
    <link href="{% static "pwa/img/iphone6_splash.png" %}"
          media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image"/>
    <link href="{% static "pwa/img/iphoneplus_splash.png" %}"
          media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)"
          rel="apple-touch-startup-image"/>
    <link href="{% static "pwa/img/iphonex_splash.png" %}"
          media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
          rel="apple-touch-startup-image"/>
    <link href="{% static "pwa/img/ipad_splash.png" %}"
          media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image"/>
    <link href="{% static "pwa/img/ipadpro1_splash.png" %}"
          media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image"/>
    <link href="{% static "pwa/img/ipadpro2_splash.png" %}"
          media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "pwa/img/120x120.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="120x1208" href="{% static "pwa/img/120x120.png" %}">
    <link rel="icon" sizes="192x192" href="{% static "pwa/img/192x192.png" %}">
    <link rel="icon" sizes="120x120" href="{% static "pwa/img/120x120.png" %}">
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('/sw.js?v=4');
            });
        }
    </script>

</head>
<body>
{% include 'includes/navbar.html' %}

<div class="home-content">
    <div class="install-app-container">
        Dilerseniz Uygulamamızı Yükleyebilirsiniz
        <button id="install-app" class="btn btn-success btn-sm" style="display: none">Uygulamayı Yükle</button>
    </div>

    <div class="row">
        <div class="not-ekle col-xl-4 col-lg-4 col-md-4 ">
            <center>
                <div class="content">
                    <div class="container text-left">
                        <div class="row justify-content-center">
                            <div class="col-md-10 text-center">
                                <form id="dateForm" method="post" action="#" class="row">

                                    <div class="col-md-12">
                                        <div id="inline_cal"></div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <form id="not-ekle-form" name="form1" method="post" accept-charset="UTF-8">
                    {% csrf_token %}

                    <input type="text" name="selected_date_input" id="selected_date_input">
                    <input type="text" name="not_metni" id="not_metni">
                    <br>
                    <button type="submit" name="form1-submit" class="btn btn-success btn-lg">Not Ekle</button>

                </form>
            </center>
        </div>

        <div class="not-goster col-xl-7 col-lg-6 col-md-6 ">
            <center><h1>Notlar</h1>
                <form id="tarih-form" method="get">
                    <input style="width: 120px; display: none;" type="date" id="secilen_tarih" name="secilen_tarih">
                    <button type="submit" style="display: none;">Tarihe Göre Notları Göster</button>
                </form>
            </center>
            <div id="secilen_tarih">
                <div class="card" style="width: 100%;">

                    <div class="card-body">
                        <h5 class="card-title">
                            {% if secilen_tarih %}
                                Seçilen Tarih: {{ secilen_tarih }}
                            {% endif %}
                        </h5>
                    </div>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        {% if tasks %}

                            <ul>
                                {% for task in tasks %}
                                    <li><h5>{{ task.not_metni }}</h5>
                                        <form method="post" action="{% url 'not_sil' task.id %}">{% csrf_token %}
                                            <button class="btn btn-danger" style="--bs-btn-font-size: .7rem;"
                                                    type="submit">Sil
                                            </button>
                                        </form>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <center><h5>Seçili tarihe ait not bulunamadı.</h5></center>
                        {% endif %}
                    </h6>

                </div>
            </div>

            <center>
                <form method="post" action="{% url 'notlari_gonder' %}">
                    {% csrf_token %}

                    <input name="secilen_tarih" style="display: none" value="{{ secilen_tarih }}" maxlength="10"
                           size="7"><br>
                    {% if tasks %}

                        <button type="submit" class="btn btn-warning">Seçili Tarihteki Notları Mail ile Gönder
                        </button>

                    {% endif %}

                </form>
                <br>
                <center><h6>*Yarının Notları Her Gün Saat 21 de Otomatik Olarak Eposta Adresinize Gönderilir.</h6>
                </center>
                <form name="form2" method="post">
                    {% csrf_token %}
                    {{ form2.as_p }}
                    <button type="submit" class="btn btn-primary btn-sm" name="form2-submit">Bildirim Tercihini Kaydet
                    </button>
                </form>
            </center>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/tr.min.js"></script>

<script>
    $(document).ready(function () {
        var inlineCal = rome(document.getElementById('inline_cal'), {
            time: false,
            weekStart: 1,
            weekdayFormat: "short",

        })

        inlineCal.on('data', function (value) {
            $('#secilen_tarih').val(value);
            $('#selected_date_input').val(value);

            // Seçilen tarihi kaydet
            localStorage.setItem('previousDate', value);

            // sadece günlere tıklandığında submit işlemi yap
            if (!$(event.target).hasClass('rd-back') && !$(event.target).hasClass('rd-next')) {
                $('#tarih-form').submit();
            }

        });

        // Sayfa yüklendiğinde önceki tarih değerini al
        var previousDate = localStorage.getItem('previousDate');
        if (previousDate) {
            $('#selected_date_input').val(previousDate);

        }


    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var searchInput = document.getElementById('searchInput');
        searchInput.addEventListener('input', function () {
            this.value = this.value.toLowerCase();
        });
    });
</script>

<script>
    function tarihDegisti() {
        document.getElementById('tarih-form').submit(); // Formu otomatik olarak gönder
    }
</script>

<!-- Tarih alanını değişiklikleri algılamak için onchange özelliğini ekle -->
<script>
    document.getElementById('secilen_tarih').addEventListener('change', tarihDegisti);
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const dateInput = document.getElementById("tarih-form");

        dateInput.addEventListener("change", function () {
            const secilen_tarih = dateInput.value;
            const tarihDiv = document.getElementById("secilen_tarih");
            tarihDiv.innerText = `Seçilen Tarih: ${secilen_tarih}`;
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<script>
    const installButton = document.getElementById('install-app'),
        installContainer = document.querySelector('.install-app-container');
    let beforeInstallPromptEvent
    window.addEventListener("beforeinstallprompt", function(e) {
        e.preventDefault();
        beforeInstallPromptEvent = e
        installButton.style.display = 'block'
        installButton.addEventListener("click", function() {
            e.prompt();
        });
        installButton.hidden = false;
    });
    installButton.addEventListener("click", function() {
        beforeInstallPromptEvent.prompt();
    });
</script>

<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/rome.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>

</body>
</html>
